@charset "utf-8";

/**
* =================================================================================
* INFORMATION
* ---------------------------------------------------------------------------------
* @Author : Lee, Jiyoung (jiyoung.april.lee@gmail.com)
* @File Name : common.css
* @Description : Style Sheet
* @Version : 1.0
* @Create Date : 2016.01.11
* @Update Date : N/A
* @History : N/A
===================================================================================
*/


/* Wrap */
.wrap { width:100%; min-height:100%; overflow-x: hidden; position: relative; background: #fff; }
.wrap_sub { width:100%; min-height:100%; overflow-x: hidden; position: relative; background: #f4f4f6 }

/* Header */
.header { width:100%; overflow: hidden; position: relative; }
.header .headerTop { top:0; left:0; width:100%; background: #ffffff; overflow: hidden; z-index:2; }
.header .headerBox { width:1025px; height: 60px; margin:0 auto; overflow: hidden; }
.header .headerBox h1 { text-align: left; margin: 13px 0  10px 0 ; }
.header .headerBox .mainMenu { float: right; margin-top: -42px;}
.header .headerBox .mainMenu li { float: left; color: #000; font-weight: bold; font-size: 14px}
.header .headerBox .mainMenu:after{content:"";display:block;clear:both}
.header .headerBox .mainMenu li a { color: #000; font-weight: bold;}
.header .headerBox .mainMenu li.facebook{cursor:pointer;background:url(../images/bt_facebook.png) no-repeat;}
.header .headerBox .mainMenu li.facebook a{display:block;width:28px;height:28px; }
.header .headerBox .mainMenu li.facebook:hover{background-position:-32px 0;}
.header .headerBox .mainMenu li.textbook a{margin-right:20px;display:block;width:110px;height:30px;background-color:#fb810e;color:#fff;border-radius:3px;-ms-border-radius:3px;-webkit-border-radius:3px;font-size:13px;text-align:center;line-height:30px;}
.header .headerBox .mainMenu li.textbook a:hover{background-color:#e86e00;color:#fff}
.header .headerBox .mainMenu li a:hover { color: #fb810e; font-weight: bold; }
.header .headerBox .mainMenu li .on { color: #fb810e; font-weight: bold; }
.header .headerBox .mainMenu .nav a{margin-left:28px;line-height:30px;font-size:13px;color:#7d7d7d}
.header .headerBox .mainMenu .nav.last a{margin-right:30px}
.header .headerBox .mainMenu .nav.active a{color:#fb810e}

/* 타이틀 영역 */
.subTop{display:block;width:100%;height:135px;background:#fb810e}
.subTop .title{margin:0 auto;width:1025px;font-size:27px;color:#fff;line-height:135px;text-align:left}
.subTop .title.apply{background:url(../images/ico_top_apply.png) no-repeat 850px 60px}
.subTop .title.partnership{background:url(../images/ico_top_partnership.png) no-repeat 850px 43px}
.subTop .title.blog{background:url(../images/ico_top_blog.png) no-repeat 850px 53px}
.subTop .title.workshop{background:url(../images/ico_top_workshop.png) no-repeat 850px 40px}
.subTop .title.intro{background:url(../images/ico_top_intro.png) no-repeat 850px 48px}


/* TopVisual */
.topVisu { position:relative; width:100%; height:520px; margin-bottom: 15px;}
.topVisu .top_btn_apply{position:absolute;top:140%;left:50%;width:262px;height:52px;background-color:#fb810e;color:#fff;font-size:18px;line-height:52px;font-weight:bold;text-align:center;margin-left:-285px;border-radius:9px;-ms-border-radius:9px;-webkit-border-radius:9px;}
.topVisu .top_btn_apply:hover{background-color:#e86e00}
.topVisu .top_btn_inquire{position:absolute;top:140%;left:50%;width:262px;height:52px;background-color:#fb810e;color:#fff;font-size:18px;line-height:52px;font-weight:bold;text-align:center;margin-left:10px;border-radius:9px;-ms-border-radius:9px;-webkit-border-radius:9px;}
.topVisu .top_btn_inquire:hover{background-color:#e86e00}

.topVisu .top_txt{position:absolute;top:32%;left:50%;margin-left:-230px;display:block;width:469px;height:166px;background:url(../images/txt_main.png) no-repeat}

.topVisu .top_cover_img{position:absolute;top:15%;left:50%;margin-left:-420px;display:block;width:834px;height:275px;background:url(../images/main_cover_3d_txt.png) no-repeat}

.mainButtons .top_txt{z-index:201;position:absolute;top:10.6%;left:50%;margin-left:-225px;display:block;width:500px;height:166px;background:url(../images/txt_main.png) no-repeat}
.mainButtons .top_btn_apply{z-index:201;position:absolute;top:138%;left:50%;width:262px;height:52px;background-color:#fb810e;color:#fff;font-size:18px;line-height:52px;font-weight:bold;text-align:center;margin-left:-288px;border-radius:9px;-ms-border-radius:9px;-webkit-border-radius:9px;}
.mainButtons .top_btn_apply:hover{background-color:#e86e00}
.mainButtons .top_btn_inquire{z-index:201;position:absolute;top:138%;left:50%;width:262px;height:52px;background-color:#fb810e;color:#fff;font-size:18px;line-height:52px;font-weight:bold;text-align:center;margin-left:10px;border-radius:9px;-ms-border-radius:9px;-webkit-border-radius:9px;}
.mainButtons .top_btn_inquire:hover{background-color:#e86e00}


/* MainSlide */
.unslider-carousel	{position:relative;overflow:hidden;background:#000;display:block;height:350px;width:100%; }
.unslider-carousel ul	{list-style:none;margin:0;width:100%}
.unslider-carousel ul li	{float:left; height:350px;width:100%;padding:0;margin:0;display:block;position:relative}
.unslider-carousel ul:after{content:"";display:block;clear:both}
.unslider-carousel .container	{margin:0 auto;position:relative;top:80%;-webkit-transform:translateY(-80%);-ms-transform:translateY(-80%);transform:translateY(-80%)}
.unslider-carousel .container p.txt1 { font-family: Roboto; font-size: 42px; color:#fff; text-align: center; }
.unslider-carousel .dots {position:absolute; left:0; right:0; bottom:20px; margin:0; text-align:center; line-height:1em}
.unslider-carousel .dots li{display:inline-block; width:13px; height:13px; margin:0 4px; text-indent:-999em; border-radius:10px;-ms-border-radius:10px;-webkit-border-radius:10px; cursor:pointer; opacity:1; background:#fff; }
.unslider-carousel .dots li.active{background:#ff7900; opacity:1}
.attribution	{position:absolute;z-index:5;bottom:17px;right:20px;color:#edeff0;color:rgba(255,255,255,0.7);font-size:11px;text-decoration:none}
.attribution a{text-rendering:optimizeLegibility;color:rgba(255,255,255,0.7)}
.attribution a:hover,.attribution a:active{color:#fff}
*{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}

/* Main */
.wrap{padding-bottom:180px;}
.wrap_sub{padding-bottom:180px;}
.contWrap { width:1025px; margin:0 auto;  }
.numWrap{display:block;margin-top:-15px;padding-top:27px;padding-bottom:30px;width:100%;height:159px;text-align:center;background:#fb810e}
.current_num{display:block;margin:0 auto;width:1025px;height:150px;text-align:center;}
.current_num .school{float:left;display:inline-block;margin-left:43px;margin-right:60px;width:98px;height:98px;background:url(../images/sp_ico_main.png) no-repeat;text-align:center;}
.current_num .line{float:left;display:block;margin-left:55px;width:1px;height:91px;background-color:#fca34f}
.current_num .printer{float:left;display:inline-block;margin-left:40px;margin-right:60px;width:98px;height:98px;background:url(../images/sp_ico_main.png) no-repeat -113px 0;text-align:center;}
.current_num .student{float:left;display:inline-block;margin-left:40px;margin-right:60px;width:98px;height:98px;background:url(../images/sp_ico_main.png) no-repeat -339px 0;text-align:center;}
.current_num .modeling{float:left;display:inline-block;margin-left:40px;margin-right:60px;width:98px;height:98px;background:url(../images/sp_ico_main.png) no-repeat -226px 0;text-align:center;}
.current_num:after{content:"";display:block;clear:both}
.current_num .num{display:block;margin-left:110px;padding-top:10px;width:100px;font-size:33px;color:#fb810e;font-weight:bold;text-align:center;letter-spacing:-1px;color:#fff}
.current_num .title{display:block;margin-left:90px;width:100px;font-size:15px;color:#fb810e;text-align:center;color:#fff}
.current_num .school .num{margin-left:90px;margin-top:5px}
.current_num .school .title{margin-left:91px;padding-top:5px}
.current_num .printer .num{margin-left:96px;margin-top:5px}
.current_num .printer .title{margin-left:97px;padding-top:5px}
.current_num .student .num{margin-left:100px;margin-top:5px}
.current_num .student .title{margin-left:101px;padding-top:5px}
.current_num .modeling .num{margin-left:100px;margin-top:5px}
.current_num .modeling .title{margin-left:101px;padding-top:5px}
.current_num .asof{float:left;margin-left:46%;margin-top:7px;color:#fff;}

.contWrap.line{position:absolute;top:700px;display:block;width:100%;height:1px;background:#000;}

 
.contWrap .mainTitle { margin: 50px 0 20px 0; overflow:hidden; }
.contWrap .mainTitle h2 { color: #474747; font-size: 30px;text-align:center;font-weight:bold }
.contWrap .mainTitle h2 .sm{font-weight:100}
.contWrap .mainDesc h3{color:#515151;font-size:14px;text-align:center;line-height:26px}

.contWrap .intro{display:block;padding-top:40px;padding-left:30px;width:1025px;height:340px;text-align:center}
.contWrap .intro .workshop{float:left;display:inline-block;margin:0 60px;width:200px;height:200px;background:url(../images/sp_ico_main_intro.png) no-repeat 0 -111px;}
.contWrap .intro .lecturer{float:left;display:inline-block;margin:0 60px;width:200px;height:200px;background:url(../images/sp_ico_main_intro.png) no-repeat -226px -111px;}
.contWrap .intro .printer{float:left;display:inline-block;margin:0 60px;width:200px;height:200px;background:url(../images/sp_ico_main_intro.png) no-repeat -452px -111px;}
.contWrap .intro .introDesc{margin-top:220px;font-size:14px;font-weight:bold;font-color:#666}
.contWrap .intro:after{content:"";display:block;clear:both}

.contWrap .spon{display:block;padding-top:17px;height:100px;text-align:center}
.contWrap .spon .spon01{float:left;display:inline-block;margin-left:10px;width:100%;height:100px;background:url(../images/partners_main.png) no-repeat}
.contWrap .spon:after{content:"";display:block;clear:both}

.graybg{position:relative;width:100%; margin:0 auto; background:#f4f4f6}
.graybg .mainTitle { margin: 0 0 20px 0; overflow:hidden;padding-top:40px }
.graybg .mainTitle h2 { color: #474747; font-size: 30px;text-align:center;font-weight:bold }
.graybg .mainDesc h3{color:#515151;font-size:14px;text-align:center;line-height:26px}
.graybg .imgBook{display:inline-block;width:248px;height:165px;background:url(../images/img_textbook.png) no-repeat;margin-left:40.5%;margin-top:30px;margin-bottom:25px}


.graybg .picList{margin:0 auto;display:block;width:1055px;height:320px;text-align:center;}
.graybg .picList a.box{display:inline-block;float:left;;margin-left:15px;margin-right:15px;padding:10px;width:321px;height:236px;background:#fff;text-align:left}
.graybg .picList .box .title{display:inline-block;line-height:19px;font-size:14px;color:#333333;padding:10px 7px 0 7px}
.graybg .picList .box .date{font-size:12px;color:#999999;padding:0 7px 0 7px; line-height:25px;}
.more{position:absolute;top:356px;left:49.4%;margin-left:-48px;margin-bottom: 37px;display: inline-block;width: 120px;height: 35px;background: #f4f4f6;color: #fb810e;border: solid 2px #fb810e;text-align: center;line-height: 35px;font-size: 14px;font-weight: bold;border-radius:3px;-ms-border-radius:3px;-webkit-border-radius:3px}
.more:hover{background:#fb810e;color:#ffffff}

/* 소개 */
.graybg.intro{margin-bottom:-100px;height:800px}
.current_sit{position:absolute;left:50%;margin-left:-480px}
.current_sit1{margin-top:10px;width:800px;}
.current_sit2{margin-top:40px;width:800px;}
.current_sit1 .school{float:left;display:inline-block;margin-left:43px;margin-right:60px;width:98px;height:98px;background:url(../images/sp_ico_main_intro.png) no-repeat;text-align:center;}
.current_sit1 .student{float:left;display:inline-block;margin-left:350px;margin-right:60px;width:98px;height:98px;background:url(../images/sp_ico_main_intro.png) no-repeat -226px 0;text-align:center;}
.current_sit1:after{content:"";display:block;clear:both}
.current_sit2 .modeling{float:left;display:inline-block;margin-left:40px;margin-right:60px;width:98px;height:98px;background:url(../images/sp_ico_main_intro.png) no-repeat -339px 0;text-align:center;}
.current_sit2 .printer{float:left;display:inline-block;margin-left:350px;margin-right:60px;width:98px;height:98px;background:url(../images/sp_ico_main_intro.png) no-repeat -113px 0;text-align:center;}
.current_sit .line{float:left;display:block;margin-left:55px;width:1px;height:91px;background-color:#d9d9d9}

.current_sit1 .num,.current_sit2 .num{display:block;margin-left:140px;padding-top:10px;width:100px;font-size:33px;color:#fb810e;font-weight:bold;text-align:center;letter-spacing:-1px}

.current_sit1 .school .numDisc{float:left;margin-left:220px;margin-top:-50px;width:200px;font-size:13px;text-align:left}
.current_sit1 .student .numDisc{float:left;margin-left:220px;margin-top:-50px;width:200px;font-size:13px;text-align:left}
.current_sit2 .modeling .numDisc{float:left;margin-left:220px;margin-top:-50px;width:200px;font-size:13px;text-align:left}
.current_sit2 .printer .numDisc{float:left;margin-left:220px;margin-top:-50px;width:200px;font-size:13px;text-align:left}
.current_sit:after{content:"";display:block;clear:both}
.current_sit1:after{content:"";display:block;clear:both}
.current_sit2:after{content:"";display:block;clear:both}
.current_sit1 .title{display:block;margin-left:90px;width:100px;font-size:15px;color:#fb810e;text-align:center}
.current_sit2 .title{display:block;margin-left:90px;width:100px;font-size:15px;color:#fb810e;text-align:center}
.current_sit1 .school .num{margin-left:110px;margin-top:4px}
.current_sit1 .school .title{margin-left:111px;padding-top:5px}
.current_sit2 .printer .num{margin-left:106px;margin-top:7px}
.current_sit2 .printer .title{margin-left:107px;padding-top:5px}
.current_sit1 .student .num{margin-left:110px;margin-top:4px}
.current_sit1 .student .title{margin-left:111px;padding-top:5px}
.current_sit2 .modeling .num{margin-left:110px;margin-top:7px}
.current_sit2 .modeling .title{margin-left:111px;padding-top:5px}

.history{display:inline-block;position:absolute;left:50%;top:450px;margin-left:-130px;font-size:17px;line-height:30px}
.history .line{display:block;width:80px;height:1px;background:#fb810e;position:absolute;left:50%;top:-20px;margin-left:-60px}
.history .col1{width:100px;float:left}
.history .col2{width:200px;float:left}


/* 신청문의 */
.subPage{position:relative;width:100%; margin:0 auto; background:#f4f4f6}
.subPage .tabMenu{margin:0 auto;padding-top:30px;width:1025px}
.subPage .tabMenu .apply{display:inline-block;margin-right:3px;width:160px;height:50px;background:#fff;font-size:22px;text-align:center;line-height:51px;border-top-left-radius:9px;-ms-border-top-left-radius:9px;-webkit-border-top-left-radius:9px;border-top-right-radius:9px;-ms-border-top-right-radius:9px;-webkit-border-top-right-radius:9px;border-bottom:1px solid #f4f4f6}
.subPage .tabMenu .apply.active{color:#fb810e;border-bottom:none}
.subPage .tabMenu .inquire{display:inline-block;margin-right:3px;width:160px;height:50px;background:#fff;font-size:22px;text-align:center;line-height:51px;border-top-left-radius:9px;-ms-border-top-left-radius:9px;-webkit-border-top-left-radius:9px;border-top-right-radius:9px;-ms-border-top-right-radius:9px;-webkit-border-top-right-radius:9px;border-bottom:1px solid #f4f4f6}
.subPage .tabMenu .inquire.active{color:#fb810e;border-bottom:none}
.subPage .tabMenu .qna{display:inline-block;margin-right:3px;width:160px;height:50px;background:#fff;font-size:22px;text-align:center;line-height:51px;border-top-left-radius:9px;-ms-border-top-left-radius:9px;-webkit-border-top-left-radius:9px;border-top-right-radius:9px;-ms-border-top-right-radius:9px;-webkit-border-top-right-radius:9px;border-bottom:1px solid #f4f4f6}
.subPage .tabMenu .qna.active{color:#fb810e;border-bottom:none}

.subPage .subCont{position:relative;margin:0 auto;padding-top:30px;padding-bottom:200px;width:1025px;background:#fff;}
.subPage .subCont.part{padding-bottom:70px}
.subPage .subCont .disc{padding-left:56px;font-size:18px;line-height:42px}
.subPage .subCont .downApply{cursor:pointer;position:absolute;right:560px;top:34px;width:140px;height:30px;background:#fb810e;color:#fff;font-size:16px;text-align:center;line-height:30px;border-radius:3px;-ms-border-radius:3px;-webkit-border-radius:3px}
.subPage .subCont .downApply:hover{background:#e86e00}

.subPage .subCont ul{margin-top:30px}
.subPage .subCont ul li{margin-left:77px;list-style-type:disc;font-size:22px;color:#fb810e}
.subPage .subCont ul li .title{margin-bottom:20px;font-size:22px;color:#fb810e}
.subPage .subCont ul li .headerInput{display:inline-block;font-size:20px;color:#565656}
.subPage .subCont ul li .headerInput.valign{vertical-align:top;line-height:42px}
.subPage .subCont ul.nostyle li{list-style:none;margin-left:65px}
.subPage .subCont ul.nostyle.faq li{list-style:none;margin-left:65px;width:890px;height:65px;color:#6a6969;font-size:20px;border-bottom:1px solid #d7d7d7;line-height:65px}

.subPage .subCont ul.nostyle.faq li a:hover{color:#000;}
.subPage .subCont ul.nostyle.faq .list_cont{display:block;margin-left:65px;padding:25px;width:890px;background:#ffeedf;font-size:18px;line-height:33px}
.subPage .subCont ul li .inputZone{display: inline-block;margin-left:30px;padding-top:7px;margin-bottom:10px;border: none;height: 43px;line-height: 35px;width: 465px;padding-left: 10px;background: #ffeedf}
.subPage .subCont ul li .inputZone.address{margin-left:13px;padding-top:7px;}
.subPage .subCont ul li .inputZone.name{margin-left:47px;padding-top:7px;}
.subPage .subCont ul li .inputZone input{   background: #ffeedf;border: none;width: 445px;color: #575757;font-size: 14px;height:28px}
.subPage .subCont .addFile{display:inline-block;margin-right:20px;cursor:pointer;width:135px;height:40px;background:#acacac;color:#fff;font-size:17px;text-align:center;line-height:40px;border-radius:3px;-ms-border-radius:3px;-webkit-border-radius:3px}
.subPage .subCont .addFile:hover{background:#959595}
.subPage .subCont .subDisc{font-size:14px;color:#9e9e9e}
.subPage .subCont .bigButton{position:absolute;left:50%;margin-left:-100px;margin-top:50px;display:inline-block;cursor:pointer;width:200px;height:70px;background:#fb810e;color:#fff;font-size:22px;text-align:center;line-height:70px;border-radius:3px;-ms-border-radius:3px;-webkit-border-radius:3px;font-weight:bold}
.subPage .subCont .bigButton:hover{background:#e86e00}

.subPage .subCont ul li .inputRadio{position:relative;display:inline-block;margin-left:38px;padding-top:7px;margin-bottom:10px;border: none;height: 43px;line-height: 35px;padding-left: 10px;color:#565656;font-size:17px}
.subPage .subCont ul li .inputRadio a{position:absolute;top:13px;display:inline-block;height:21px}
.subPage .subCont ul li .inputRadio span{margin-right:20px;margin-left:25px}
.radioBtn { display:inline-block; background:url('../images/radio_off.png') no-repeat; width:21px; height:21px; text-indent: -999px; }
.radioBtn.on { background:url('../images/radio_on.png') no-repeat; }

.subPage .subCont ul li textarea{border:none;margin-left:47px; height: 300px; width: 750px;overflow-y: auto;padding: 10px;resize: none;font-size: 14px; color: #565656;background:#ffeedf;line-height:20px}

/* 파트너쉽 */
.subPage .subCont.work{padding-bottom:100px;}
.subPage .subCont .title{margin-top:20px;font-size:26px;color:#fb810e;}
.subPage .subCont .subTitle{margin:20px 100px 50px 66px;font-size:18px;color:#565656;line-height:30px}
.subPage .line{display:block;margin-top:180px;width:100%;height:3px;background:url(../images/line.png) repeat-x}
.subPage .imgPatner{display:inline-block;margin-left:105px;margin-top:45px;width:815px;height:241px;background:url(../images/partners.png) no-repeat}

/* 블로그 */
.subPage.blog .blogList{position:relative;display:block;margin:0 auto;margin-bottom:20px;width:1025px;height:209px;background:#fff;}
.subPage.blog .blogList .blogTitle{display:inline-block;position:absolute;top:35px;left:65px;font-size:21px;color:#6a6969}
.subPage.blog .blogList .blogCont{display:inline-block;position:absolute;top:85px;left:65px;width:600px;font-size:14px;color:#565656;line-height:22px}
.subPage.blog .blogList .blogDate{display:inline-block;position:absolute;top:175px;left:65px;font-size:14px;color:#9f9f9f}
.subPage.blog .blogList .blogImg{position:absolute;top:20px;right:20px}
.blogContent{margin:20px 100px 50px 66px;font-size:18px;line-height:30px}
.blogContent img{margin:20px 0 20px 0}
.blogDateIn{margin:20px 100px 50px 66px;font-size:14px;color:#9f9f9f}

/* 워크샵 */
.subPage .subCont .wTitle{margin:20px 66px 0 66px;font-size:26px;color:#fb810e;}
.subPage .subCont .workshop1{position:relative;display:block;margin:0 0 0 70px;background:url(../images/ico_w1.png) no-repeat;width:110px;height:110px}
.subPage .subCont .workshop2{position:relative;display:block;margin:20px 0 0 70px;background:url(../images/ico_w2.png) no-repeat;width:110px;height:110px}
.subPage .subCont .workshop3{position:relative;display:block;margin:20px 0 0 70px;background:url(../images/ico_w3.png) no-repeat;width:110px;height:110px}
.subPage .subCont .step{position:absolute;display:inline-block;width:100px;top:23px;left:130px;font-size:17px;font-weight:bold;font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif}
.subPage .subCont .wDisc{position:absolute;display:inline-block;width:700px;top:60px;left:130px;font-size:17px}
.subPage .line.mg{display:block;margin-top:80px;width:100%;height:3px;background:url(../images/line.png) repeat-x}
.subPage .imgTextbook{display:block;margin:30px 30px 0 65px;background:url(../images/img_textbook_sm.png) no-repeat;width:216px;height:144px}
.subPage .imgTextbook .bookDisc{display:block;width:550px;margin:20px 10px 0 280px;font-size:17px;line-height:30px}
.subPage .imgTextbook .bookDownload{cursor: pointer;margin-top:10px;display: inline-block; width: 190px;height: 40px;background: #fff;color: #fb810e;border: solid 2px #fb810e;text-align: center;line-height: 40px;font-size: 16px;font-weight: bold;}
.subPage .imgTextbook .bookDownload:hover{background:#fb810e;color:#fff}
 
 /* Paging */
.paging {text-align:center; margin:25px 0 26px 0;line-height:13px}

.paging .first_page{display:inline-block;width:15px;height:15px;background:url(../images/sp_btn_paging.png) no-repeat;background-position:0 0;text-indent:-9999px;transition:none;margin-right:8px}
.paging .first_page:hover{background-position:0 -15px;transition:none}

.paging .prev_page{display:inline-block;width:15px;height:15px;background:url(../images/sp_btn_paging.png) no-repeat;background-position:-20px 0;text-indent:-9999px;transition:none}
.paging .prev_page:hover{background-position-y:-15px;transition:none}
.paging .next_page{margin-left:4px;display:inline-block;width:15px;height:15px;background:url(../images/sp_btn_paging.png) no-repeat;background-position:-40px 0;text-indent:-9999px;transition:none}
.paging .next_page:hover{background-position-y:-15px;transition:none}
.paging .last_page{display:inline-block;width:15px;height:15px;background:url(../images/sp_btn_paging.png) no-repeat;background-position:-60px 0;text-indent:-9999px;transition:none}
.paging .last_page:hover{background-position-y:-15px;transition:none}
.paging .paging_no{margin-right:6px;display:inline-block;text-align:center;width:24px;height:24px;border:none;background:#cecece;color:#fff;-ms-border-radius:17px;-webkit-border-radius:17px;border-radius:17px;font-family:'arial';font-size:15px;line-height:24px}
.paging .paging_no:hover{background:#a0a0a0}
.paging .paging_no.on{background:#ff7900}

/* Footer */
.footer { position:absolute;bottom:0;background:#fb810e; width:100%; height:100px;overflow:hidden; margin-top: 55px;}
.footer .footerList { position:relative;width:1000px;height:160px; margin:0 auto; text-align:left; }
.footer .footInfo{text-align:center;color:#fff;margin-top:35px}
.footer .footInfo li:last-child{margin-top:10px}
.footer .footerList .footSns { display:block;margin: 20px 20px 0 0;clear:both; overflow:hidden; padding-top:27px }
.footer .footerList .footSns li { float:left; margin-right:15px; }
.footer .footerList .footSns:after{content:"";display:block;clear:both}
.footer .footerList .footSns li a { font-size:13px; color:#fff; }
.footer .copyRight { clear:both; padding:0 0 5px 0; text-align:right; font-size:11px; color:#fff;padding:0 65px 13px 0;position:absolute;top:114px;right:2px}


