@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- contWrap -->
<div class="contWrap">
    <h2 class="conTitle">About</h2>

    <!-- conText -->
    <div class="conText">
        <p class="aboutTxt1">
            <img src="../content/images/info/about1.png" alt="MakersN, Imaginaton to Reality" />
        </p>
        <p class="aboutTxt2">
            <img src="../content/images/info/about2.png" alt="MakersN is a place where you can make, share, and find 3D printable designs.
 Bring your imagination to reality with makersN!" />
        </p>
    </div>
    <!-- //conText -->

</div>
<!-- //contWrap -->
<script type="text/javascript">
    $(document).ready(function () {
        $(".mainMenu li a").removeClass("on");
    })
</script>