@{
    ViewBag.Title = "Blog";
    Layout = null;
}

<!-- contWrap -->
<div class="contWrap">
    <h2 class="conTitle">블로그</h2>

    <!-- conText -->
    <div class="conText">
        
    </div>
    <!-- //conText -->

</div>
<!-- //contWrap -->
