@model IList<CodeModel>
@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- contWrap -->
    <h2 class="conTitle">Contact</h2>

    <div class="conCms">
        <form id="conCms_form" name="conCms_form" method="post" action="/info/SendQnA">
            <p class="txt1">Please let us know if you have any difficulties, questions, or suggestions.</p>
            <table class="tblType1">
                <tbody>
                    <tr>
                        <th>
                            <label for="cate_no">Category</label></th>
                        <td>
                            @foreach (CodeModel code in Model)
                            {
                                <label>
                                    <input type="radio" name="QnACode" value="@code.MenuCodeNo"/>
                                    @code.MenuTitle</label>
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="c_email">E-mail</label></th>
                        <td>
                            <input type="text" id="c_email" name="email" /></td>
                    </tr>
                    <tr>
                        <th>
                            <label for="c_title">Title</label></th>
                        <td>
                            <input id="c_title" type="text" name="title" /></td>
                    </tr>
                    <tr>
                        <th>
                            <label for="c_comment">Comment</label></th>
                        <td>
                            <textarea id="c_comment" name="comment"></textarea></td>
                    </tr>
                </tbody>
            </table>
        </form>
        <div class="txtR">
            <button title="보내기" class="btnType1">Send</button>
        </div>
    </div>

<!-- //contWrap -->

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".mainMenu li a").removeClass("on");
        })
        $(".btnType1").click(function () {
            var gubun = $("input[name='QnACode']:checked").val();

            $form_data = $("#conCms_form").serialize();

            if (check_msg('QnACode', '구분을 선택해주세요.', 'radio') == false) return false;
            if (check_msg('c_email', '이메일 주소를 확인해주세요.', 'email') == false) return false;
            if (check_msg('c_title', '제목을 입력해주세요.', 'required:title') == false) return false;
            if (check_msg('c_comment', '내용을 입력해주세요.', 'required:contents') == false) return false;

            var options = {
                beforeSend: function () {
                },
                uploadProgress: function (event, position, total, percentComplete) {
                },
                success: function (response) {
                    if (response.Success) {
                        alert("Thank you for your report.");
                        location.href = "/";
                    }
                },
                complete: function (response) {
                },
                error: function () {
                }
            };

            $('#conCms_form').ajaxForm(options).submit();

        })
</script>
}