@{
    ViewBag.Title = "메이커스앤";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-ng-view="" data-autoscroll="true"></div>

<style type="text/css">
    .wrap
    {
        background: #fff !important;
    }
</style>
