@{
    ViewBag.Title = "License";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- contWrap -->
<div class="contWrap">
    <h2 class="conTitle" id="topLicense">라이센스</h2>

    <div class="conLicen">
        <!-- text -->
        <div class="mgT45">
            <p class="mgB40" id="license1">
                <img src="../content/images/info/license1.png" alt="MakersN은 이용자(저작자)가 업로드한 게시물의 저작권을 존중하는 동시에, 이를 다른 이용자가 일정 조건 하에서 자유롭게 이용하도록 허락하는 것을 권장합니다. 게시물에 대한 공유, 리믹스 및 변경 그리고 다시 공유의 사이클을 통해 이용자들이 MakersN에서 더욱 풍성한 컨텐츠를 만날 수 있기 때문입니다. 이를 위해 국제적으로 널리 이용되고 있는 크리에이티브 커먼즈 라이선스(CCL, Creative Commons License)에 따라 저작물의 이용 권한을 규정하고 있습니다. (아래 내용 출처 : Creative Commons Korea 웹사이트 www.cckorea.org)" />
            </p>
            <p class="mgB40" id="license2">
                <img src="../content/images/info/license2.png" alt="CCL (Creative Commons License)" />
            </p>
            <p class="mgB40" id="license3">
                <img src="../content/images/info/license3.png" alt="이용 허락 조건" />
            </p>
            <p class="mgB40" id="license4">
                <img src="../content/images/info/license4.png" alt="라이선스" />
            </p>
            <p>
                <img src="../content/images/info/license5.gif" alt="CCL에 대한 추가 정보" usemap="#Map" />
                <map name="Map">
                    <area shape="rect" coords="130,60,316,78" href="http://www.creativecommons.org" target="_blank">
                    <area shape="rect" coords="174,82,295,100" href="http://www.cckorea.org" target="_blank">
                </map>
            </p>
        </div>
        <!-- //text -->
    </div>

</div>
<!-- //contWrap -->
<script type="text/javascript">
    $(document).ready(function () {
        $(".mainMenu li a").removeClass("on");
    })
</script>