@{
    ViewBag.Title = "License";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- contWrap -->

<div class="contWrap">
    	<h2 class="conTitle" id="topLicense">License</h2>
    	
      <div class="conLicen">
        <!-- text -->
        <dl class="dlType1">       
          <dd>MakersN respects the intellectual property rights of the original designs uploaded on our website. We also encourage modellers to allow their designs to be freely used by others. By sharing and allowing your works to be re-mixed, re-used, and re-distributed, many users will be able to enjoy variety of creative and useful 3D contents at makersN. We abide by CCL (Creative Commons License), which is an internationally used license. 
</dd>
</dl>
		<dl class="dlType1"> 
          <dt>CCL (Creative Commons License)</dt>      
          <dd>A Creative Commons (CC) license enable the free distribution of an otherwise copyrighted work as long as the users abide by the conditions that are specified in the license by which the author distributes the work. <br>

<br>



The CC licenses all grant the "baseline rights", such as the right to distribute the copyrighted work worldwide for non-commercial purposes, and without modification. The details of each of these licenses depends on the version, and comprises a selection out of four conditions: (source: Creative Commons Corporation Website)
</dd>
</dl>

 <dl class="dlType0"> 
          <dt>License</dt>  

           <div class="dlType1">
            <div class="licen_img"><img src="../content/images/info/license_01.png"></div>
            <div class="licen_tit">Attribution(BY)<span class="licen_con"><br>Licensees may copy, distribute, display and perform the work and make derivative works based on it only if they give the author or licensor the credits in the manner specified by these.</span></div>
		    </div>
           <div class="dlType1">
            <div class="licen_img"><img src="../content/images/info/license_02.png"></div>
            <div class="licen_tit">Share-alike(SA)<span class="licen_con"><br>Licensees may distribute derivative works only under a license identical to the license that governs the original work(See also copyleft).
.</span></div>
		     </div>
             <div class="dlType1">
                <div class="licen_img"><img src="../content/images/info/license_03.png"></div>
                <div class="licen_tit">Non-commercial (NC)<span class="licen_con"><br>Licensees may copy, distribute, display, and perform the work and make derivative works based on it only for noncommercial purposes.
    </span></div>
		    </div>
            <div class="dlType1">
                <div class="licen_img"><img src="../content/images/info/license_04.png"></div>
                <div class="licen_tit">No Derivative Works (ND)<span class="licen_con"><br>Licensees may copy, distribute, display and perform only verbatim copies of the work, not derivative worksbased on it.
    </span></div>
		    </div>
          </dl>
          <dl class="dlType0"> 
          <dt class="mgT30">Terms</dt>  
            <div class="dlType1">
                <div class="licen_img"><img src="../content/images/info/license_05.png"></div>
                <div class="licen_tit">Attribution Alone<span class="licen_con"><br>This license lets others distribute, remix, tweak, and build upon your work, even commercially, as long as they credit you for the original creation. This is the most accommodating of licenses offered. Recommended for maximum dissemination and use of licensed materials.

    </span></div>
		    </div>
            <div class="dlType1">
                <div class="licen_img"><img src="../content/images/info/license_06.png"></div>
                <div class="licen_tit2">Attribution + ShareAlike <span class="licen_con"><br>This license lets others remix, tweak, and build upon your work even for commercial purposes, as long as they credit you and license their new creations under the identical terms. This license is often compared to “copyleft” free and open source software licenses. All new works based on yours will carry the same license, so any derivatives will also allow commercial use. This is the license used by Wikipedia, and is recommended for materials that would benefit from incorporating content from Wikipedia and similarly licensed projects.
    </span></div>
		    </div>
            <div class="dlType1">
                <div class="licen_img"><img src="../content/images/info/license_07.png"></div>
                <div class="licen_tit2">Attribution + NoDerivatives<span class="licen_con"><br>
This license allows for redistribution, commercial and non-commercial, as long as it is passed along unchanged and in whole, with credit to you.
    </span></div>
		    </div>
            <div class="dlType1">
                <div class="licen_img"><img src="../content/images/info/license_08.png"></div>
                <div class="licen_tit2">Attribution + Noncommercial<span class="licen_con"><br>
This license lets others remix, tweak, and build upon your work non-commercially, and although their new works must also acknowledge you and be non-commercial, they don’t have to license their derivative works on the same terms.
    </span></div>
		    </div>
            <div class="dlType1">
                <div class="licen_img"><img src="../content/images/info/license_09.png"></div>
                <div class="licen_tit2">Attribution + Noncommercial + ShareAlike<span class="licen_con"><br>
This license lets others remix, tweak, and build upon your work non-commercially, as long as they credit you and license their new creations under the identical terms.

    </span></div>
		    </div>
            <div class="dlType1">
                <div class="licen_img"><img src="../content/images/info/license_10.png"></div>
                <div class="licen_tit2">Attribution + Noncommercial + NoDerivatives<span class="licen_con"><br>This license is the most restrictive of our six main licenses, only allowing others to download your works and share them with others as long as they credit you, but they can’t change them in any way or use them commercially.


    </span></div>
		    </div>
          </dl> 
          <dl class="dlType0"> 
           <div class="dlType1">
          		<div class="licen_con  mgT50">If you would like to know more about CCL, please visit the following website: <a class="link2" href="http://www.creativecommons.org">www.creativecommons.org</a></div>  
           </div>
          </dl>
          
 

				<!-- //text -->
     
        
    </div>
    </div>
<!-- //contWrap -->
<script type="text/javascript">
    $(document).ready(function () {
        $(".mainMenu li a").removeClass("on");
    })
</script>
