@{
    ViewBag.Title = "Terms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- contWrap -->
<div class="contWrap">
    <h2 class="conTitle">이용약관</h2>

    <div class="conPrivacy">
        <dl class="dlType1">
            <dt>상상을 현실로 만드는 공간, 메이커스앤</dt>
            <dd>MakersN은 3D 모델을 찾고, 만들고, 나누기 위한 공간으로, 이용자는 웹이나 앱(향후)을 통해 서비스를 이용할 수 있습니다. 메이커스앤은 이용자들에게 더 나은 가치를 제공하기 위해 서비스를 수시로 업데이트할 수 있습니다.</dd>

            <dt>이용자 계정</dt>
            <dd>이용자 계정은 메이커스앤을 이용하기 위해 필요한 이메일 주소와 패스워드 기반(또는 SNS 계정 기반)의 로그인 계정을 의미합니다. 약관에 동의하고 이메일 주소와 패스워드를 등록한 후 계정이 생성됩니다. 본인의 계정은 본인만 이용할 수 있으며, 다른 사람이 무단 사용할 경우 고객 센터를 통해 알려주시기 바랍니다.
            </dd>

            <dt>주의 사항</dt>
            <dd>이용자는 서비스를 자유롭게 이용할 수 있지만, 악의적인 목적으로 이용하거나 다른 사람들의 이용을 방해해서는 안 됩니다. 또한, 다른 이용자의 정보를 무단으로 수집하거나 이를 제 3자에게 제공하는 것, 서비스를 사전에 협의되지 않은 영리 목적으로 이용하는 것, 음란 정보나 저작권 침해 정보 등 현행법에 위배되는 내용을 게시하는 것도 금지됩니다.</dd>

            <dt>개인 정보 보호</dt>
            <dd>개인 정보의 안전한 취급은 서비스 운영을 위한 가장 중요한 사안입니다. 개인 정보는 서비스의 원활한 제공을 위해 이용자가 동의한 목적과 범위 내에서만 이용됩니다. 법령에 의하거나 별도의 동의를 구하지 않은 상태에서 이용자의 개인 정보를 제 3자에게 제공하는 일은 절대 없습니다.</dd>

            <dt>컨텐츠 저작권</dt>
            <dd>메이커스앤은 이용자의 지적재산권을 존중합니다. 이용자는 이미지, 텍스트, 오디오 및 비디오 파일을 게시할 수 있으며 이들 컨텐츠에 대한 지적재산권은 이용자의 소유입니다. 단, 이용자가 올린 컨텐츠가 다른 사람의 지적재산권을 침해하지 않았을 경우에 한합니다. 또, 이용자는 자신의 컨텐츠에 대한 이용 범위와 권한을 설정할 수 있습니다. 누군가 그 범위와 권한을 위반했다면 고객 센터를 통해 도움을 받으실 수 있습니다. 다른 이용자의 컨텐츠에 대해서도 그 범위와 권한을 준수해야 하며, 필요시 별도의 동의와 허락을 받아야 합니다. 메이커스앤은 이용자의 이용 권리를 존중하지만, 해당 컨텐츠가 법령 및 운영 정책에 위반된다고 판단될 경우 이를 수정 및 삭제 권고하거나 직접 삭제할 수 있습니다.</dd>

            <dt style="font-weight: normal;">* 게시할 수 없는 컨텐츠</dt>
            <dd>음란물, 무기류(실제 작동), 지적재산권이 있는 파일</dd>


            <dt>임시 점검 및 일시 중단 안내</dt>
            <dd>메이커스앤은 365일, 24시간 서비스를 쉬지 않고 제공하기 위해 노력합니다. 다만, 정기 및 임시 점검 또는 특별한 이유가 있을 경우 서비스를 일시 중단할 수도 있습니다. 이 경우에는 사전에 이용자들에게 안내하도록 하겠습니다. 하지만 운영 중 통제 및 예측 불가능한 이유로 갑자기 서비스가 중단된다면, 상황을 파악하는 즉시 공지하도록 하겠습니다.</dd>

            <dt>해지 신청</dt>
            <dd>이용자가 서비스의 이용을 더 이상 원하지 않을 때에는 언제든지 해지 신청을 할 수 있으며, 메이커스앤은 법령이 정하는 바에 따라 신속히 처리하겠습니다. 이용 계약이 해지되면 법령 및 개인 정보 취급 방침에 따라 이용자의 정보를 처리하게 되며 계정과 게시물 등은 삭제됩니다. 다만, 이용자가 작성한 게시물이 제 3자에 의해 스크랩 또는 다른 공유 기능으로 게시되거나, 이용자가 남긴 댓글 등은 다른 이용자의 정상적인 서비스 이용을 위해 필요한 범위 내에서 삭제되지 않고 남아 있게 됩니다.</dd>

            <dt>서비스 이용 및 보증</dt>
            <dd>메이커스앤은 이용자들에게 최상의 서비스를 제공하기 위해 노력하지만, 이것이 서비스에 속한 컨텐츠, 특정 기능, 다른 이용 가능성 등에 대해 어떠한 약정이나 보증을 하는 것은 아닙니다. 만일 메이커스앤의 과실로 인해 이용자가 손해를 입게 될 경우 관련 법령에 따라 배상할 것입니다. 다만, 서비스이 접속 및 이용 과정에서 발생하는 개인적인 손해, 제 3자가 불법적으로 서버에 접속하거나 서버를 이용함으로써 발생하는 손해, 제 3자가 서버에 대한 전송 또는 서버로부터의 전송을 방해함으로써 발생하는 손해, 제 3자가 악성 프로그램을 전송 또는 유포함으로써 발생하는 손해, 전송된 데이터의 누락 및 파괴 등으로 발생한 손해, 명예 훼손 등 제 3자가 서비스를 이용하는 과정에서 발생시킨 손해 등에 대해서는 책임을 부담하지 않습니다.</dd>

            <dt>약관 수정</dt>
            <dd>메이커스앤은 법률이나 서비스의 변경 사항을 반영하기 위한 목적으로 본 약관을 수정할 수 있습니다. 본 약관이 변경되는 경우 메이커스앤은 해당 내용을 공지 사항을 통해 게시하며, 변경된 약관은 15일 이후 부터 효력을 발생합니다.<br />
                <br />
                메이커스앤은 이용자의 의견을 소중하게 생각합니다. 서비스 관련 문의 사항이 있으시면 언제든지 메일(info@makersn.com) 및 고객 센터를 통해 연락해주시기 바랍니다.</dd>
        </dl>

        <p>• 공고 일자 : 2014년 9월 1일</p>
        <p>• 시행 일자 : 2014년 10월 1일</p>
    </div>

</div>
<!-- //contWrap -->
<script type="text/javascript">
    $(document).ready(function () {
        $(".mainMenu li a").removeClass("on");
    })
</script>