<div class="printMng h700">
      
      	<p class="txt1">축하드려요!</p>
       	<p class="txt2">메이커스앤에 당신만의 프린팅 스팟이 오픈되었어요.<br />
					지금 바로 3D 프린터를 등록해서 출력 요청을 받으세요.</p>
      	<a href="/Printing/PrtUpload" class="btnO type3 mgT60 mgL383" >프린터 등록하기 </a>
      </div>
