@charset "utf-8";

/**
* =================================================================================
* INFORMATION
* ---------------------------------------------------------------------------------
* @Author : Lee, Seung, Hee (lv0821@naver.com)
* @File Name : default.css
* @Description : Style Sheet
* @Version : 1.0
* @Create Date : 2015.04.13
* @Update Date : N/A
* @History : N/A
===================================================================================
*/

.clear { clear: both !important }
.dbNo { display: none !important }
.png24 { tmp:expression(setPng24(this)); }

/* bg */
.bgW { background: #fff !important; }
.bgG { background: #f2f2f2 !important; }

/* layer */
.zIdx202 { z-index: 202 !important; }
.zIdx201 { z-index: 201 !important; }
.zIdx200 { z-index: 200 !important; }
.zIdx199 { z-index: 199 !important; }
.zIdx198 { z-index: 198 !important; }
.zIdx197 { z-index: 197 !important; }
.zIdx196 { z-index: 196 !important; }
.zIdx195 { z-index: 195 !important; }
.zIdx194 { z-index: 194 !important; }
.zIdx193 { z-index: 193 !important; }
.zIdx192 { z-index: 192 !important; }
.zIdx191 { z-index: 191 !important; }
.zIdx190 { z-index: 190 !important; }
.zIdx189 { z-index: 189 !important; }
.zIdx188 { z-index: 188 !important; }
.zIdx187 { z-index: 187 !important; }
.zIdx186 { z-index: 186 !important; }
.zIdx185 { z-index: 185 !important; }
.zIdx184 { z-index: 184 !important; }
.zIdx183 { z-index: 183 !important; }
.zIdx182 { z-index: 182 !important; }
.zIdx181 { z-index: 181 !important; }
.zIdx180 { z-index: 180 !important; }
.zIdx179 { z-index: 179 !important; }
.zIdx178 { z-index: 178 !important; }
.zIdx177 { z-index: 177 !important; }
.zIdx176 { z-index: 176 !important; }
.zIdx175 { z-index: 175 !important; }
.zIdx174 { z-index: 174 !important; }
.zIdx173 { z-index: 173 !important; }
.zIdx172 { z-index: 172 !important; }
.zIdx171 { z-index: 171 !important; }
.zIdx170 { z-index: 170 !important; }
.zIdx169 { z-index: 169 !important; }
.zIdx168 { z-index: 168 !important; }
.zIdx167 { z-index: 167 !important; }
.zIdx166 { z-index: 166 !important; }
.zIdx165 { z-index: 165 !important; }
.zIdx164 { z-index: 164 !important; }
.zIdx163 { z-index: 163 !important; }
.zIdx162 { z-index: 162 !important; }
.zIdx161 { z-index: 161 !important; }
.zIdx160 { z-index: 160 !important; }
.zIdx159 { z-index: 159 !important; }
.zIdx158 { z-index: 158 !important; }
.zIdx157 { z-index: 157 !important; }
.zIdx156 { z-index: 156 !important; }
.zIdx155 { z-index: 155 !important; }
.zIdx154 { z-index: 154 !important; }
.zIdx153 { z-index: 153 !important; }
.zIdx152 { z-index: 152 !important; }
.zIdx151 { z-index: 151 !important; }
.zIdx150 { z-index: 150 !important; }
.zIdx149 { z-index: 149 !important; }
.zIdx148 { z-index: 148 !important; }
.zIdx147 { z-index: 147 !important; }
.zIdx146 { z-index: 146 !important; }
.zIdx145 { z-index: 145 !important; }
.zIdx144 { z-index: 144 !important; }
.zIdx143 { z-index: 143 !important; }
.zIdx142 { z-index: 142 !important; }
.zIdx141 { z-index: 141 !important; }
.zIdx140 { z-index: 140 !important; }

/* width & height */
.w100 { width:100% !important; }
.w55 { width:55px !important; }
.w70 { width:70px !important; }
.w72 { width:72px !important; }
.w90 { width:90px !important; }
.w105 { width:105px !important; }
.w115 { width:115px !important; }
.w120 { width:120px !important; }
.w150 { width:150px !important; }
.w170 { width:170px !important; }
.w190 { width:190px !important; }
.w220 { width:220px !important; }
.w250 { width:250px !important; }
.w351 { width:351px !important; }
.w460 { width:460px !important; }
.w710 { width:710px !important; }
.w1000 { width:1000px !important; }
.h700 { height:700px !important; }
.h170 { height:170px !important; }
.h40 { height:40px; !important; }
.h60 { height:60px !important; }
.hAuto{height:auto}

/* line */
.bdR_no { border-right: none !important; }
.bdB_no { border-bottom: none !important; }
.bdA { border: 1px solid #ccc !important; }
.bdB { border-bottom: 1px solid #ddd !important; }
.bdA_no { border: none; !important; }

/* align */
.txtL { text-align: left !important; }
.txtC { text-align: center !important; }
.txtR { text-align: right !important; }
.flL	{ float: left !important; }
.flR	{ float: right !important; }
.flNo { float: none !important; }

/* margin */
.mgTm20 { margin-top: -60px !important; }
.mgT-13 { margin-top: -13px !important; }
.mgT-17 { margin-top: -17px !important; }
.mgT-20 { margin-top: -20px !important; }
.mgT-30 { margin-top: -30px !important; }
.mgT-350 { margin-top: -350px !important; }
.mgTm1 { margin-top: -1px !important; }
.mgT0 { margin-top: 0px !important; }
.mgT4 { margin-top: 4px !important; }
.mgT6 { margin-top: 6px !important; }
.mgT10 { margin-top: 10px !important; }
.mgT15 { margin-top: 15px !important; }
.mgT17 { margin-top: 17px !important; }
.mgT20 { margin-top: 20px !important; }
.mgT23 { margin-top: 23px !important; }
.mgT25 { margin-top: 25px !important; }
.mgT30 { margin-top: 30px !important; }
.mgT34 { margin-top: 34px !important; }
.mgT35 { margin-top: 35px !important; }
.mgT40 { margin-top: 40px !important; }
.mgT45 { margin-top: 45px !important; }
.mgT50 { margin-top: 50px !important; }
.mgT52 { margin-top: 52px !important; }
.mgT55 { margin-top: 55px !important; }
.mgT60 { margin-top: 60px !important; }
.mgT70 { margin-top: 70px !important; }
.mgT80 { margin-top: 80px !important; }
.mgT90 { margin-top: 90px !important; }
.mgT100 { margin-top: 100px !important; }
.mgR0 { margin-right: 0px !important; }
.mgR7 { margin-right: 7px !important; }
.mgR15 { margin-right: 15px !important; }
.mgR80 { margin-right: 80px !important; }
.mgB0 { margin-bottom: 0px !important; }
.mgB12 { margin-bottom: 12px !important; }
.mgB15 { margin-bottom: 15px !important; }
.mgB20 { margin-bottom: 20px !important; }
.mgB40 { margin-bottom: 40px !important; }
.mgB100 { margin-bottom: 100px !important; }
.mgTB10 { margin: 10px 0 !important; }
.mgTB20 { margin: 12px 0 !important; }
.mgL-10 { margin-left: -10px !important; }
.mgL-17 { margin-left: -17px !important; }
.mgL-30 { margin-left: -30px !important; }
.mgL-51 { margin-left: -51px !important; }
.mgL5 { margin-left: 5px !important; }
.mgL8 { margin-left: 8px !important; }
.mgL10 { margin-left: 10px !important; }
.mgL12 { margin-left: 12px !important; }
.mgL15 { margin-left: 15px !important; }
.mgL20 { margin-left: 20px !important; }
.mgL25 { margin-left: 25px !important; }
.mgL28 { margin-left: 28px !important; }
.mgL35 { margin-left: 35px !important; }
.mgL40 { margin-left: 40px !important; }
.mgL62 { margin-left: 62px !important; }
.mgL70 { margin-left: 70px !important; }
.mgL80 { margin-left: 80px !important; }
.mgL103 { margin-left: 103px !important; }
.mgL155 { margin-left: 155px !important; }
.mgL190 { margin-left: 190px !important; }
.mgL217 { margin-left: 217px !important; }
.mgL245 { margin-left: 245px !important; }
.mgL260 { margin-left: 260px !important; }
.mgL320 { margin-left: 320px !important; }
.mgL330 { margin-left: 330px !important; }
.mgL345 { margin-left: 345px !important; }
.mgL383 { margin-left: 383px !important; }
.mgL395 { margin-left: 395px !important; }
.mgL410 { margin-left: 410px !important; }
.mgL435 { margin-left: 435px !important; }
.pdT10 { padding-top: 10px !important; }
.pdT12 { padding-top: 12px !important; }
.pdT15 { padding-top: 15px !important; }
.pdT20 { padding-top: 20px !important; }
.pdL0 { padding-left: 0 !important; }
.pdL15 { padding-left: 15px !important; }
.pdB0 { padding-bottom: 0px !important; }
.pdB25 { padding-bottom: 25px !important; }
.pdB35 { padding-bottom: 35px !important; }
.pdB140 { padding-bottom: 140px !important; }
.hidden { overflow:hidden }

/* font */
.orangeF { color: #ff7900 !important; }
.whiteF { color: #fff !important; }
.boldF { font-weight:bold !important; }
.dfn { font-style:normal !important; }
.nbg { font-family: 'Nanum Barun Gothic' !important; }
.rbc { font-family: 'Roboco' !important; }
.font12P { font-size: 12px !important; }
.font13P { font-size: 13px !important; }
.font14P { font-size: 14px !important; }
.font15P { font-size: 15px !important; }
.font16P { font-size: 16px !important; }
.font17P { font-size: 17px !important; }
.font18P { font-size: 18px !important; }