@{
    ViewBag.Title = "메이커스앤";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-ng-view="" data-autoscroll="true"></div>

<style type="text/css">
    .wrap
    {
        background: #fff !important;
    }
</style>

<script>
    function addNotice() {
        var onSuccess = function (result) {
            if (result.Success) { alert(result.Message); }
        }
        var ProductNo = $("#txtProductNo").val();
        var MemberNo = $("#txtMemberNo").val();
        var MemberNoRef = $("#txtMemberNoRef").val();
        var RefNo = $("#txtRefNo").val();
        var Type = $("#txtType").val();
        var Content = $("#txtContent").val();
        var CheckYN = $("#txtCheckYN").val();
        var IsNewYN = $("#txtIsNewYN").val();
        Ajax.AjaxResponseModelService(this, "common/AddNotice", { ProductNo: ProductNo, MemberNo: MemberNo, MemberNoRef: MemberNoRef, RefNo: RefNo, Type: Type, Content: Content, CheckYN: CheckYN, IsNewYN: IsNewYN }, onSuccess);
    }

</script>
<input type="text" id="txtProductNo" placeholder="상품번호" />
<input type="text" id="txtMemberNo" placeholder="알림당할멤버번호"/>
<input type="text" id="txtMemberNoRef" placeholder="알림신청한멤버번호" />
<input type="text" id="txtRefNo" placeholder="REF_NO" />
<input type="text" id="txtType" placeholder="TYPE" />
<input type="text" id="txtContent" placeholder="내용" />
<input type="text" id="txtCheckYN" placeholder="체크여부(YN)" />
<input type="text" id="txtIsNewYN" placeholder="신규여부(YN)" />
<input type="button" onclick="addNotice();" value="알림생성 (add)" />  <br /><br />

@Html.Action("ListNotice", "Common")

