@using System.Text
@using System.Web.UI
@using System.Web.UI.HtmlControls
@{
    ViewBag.Title = "우편번호찾기";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@section scripts{
 
<script type="text/javascript">

    $("#btnPostInfoSearch").on("click", function () {        
        SearchPostData(1, 20); // 처음 검색 클릭 시
    })

    //검색창 엔터 이벤트
    $('#txtKeyword').keypress(function (event) {
        if (event.keyCode == 13) {
            SearchPostData(1, 20); // 처음 검색 클릭 시
        }
    });

    function SearchPostData(curIndex, cntPerPage) {
        var data = {
            srchwrd: $("#txtKeyword").val(),
            countPerPage: cntPerPage,
            currentPage: curIndex
        }

        var onSuccess = function (result) {
            GeneratePostInfoGrid(result);
        }
        Ajax.AjaxResponseModelService(this, "GetPostInfoData", data, onSuccess);
    }

    function GeneratePostInfoGrid(result) {
        if (result.Success) {
            var postData = JSON.parse(result.Result);

            var CmmMsgHeader = postData.CmmMsgHeader;
            var AddressList = postData.AddressList;
            var strList = "";

            strList += "<table style='border:solid 1px blue;' border='1'>"
                    + "<tr>"
                        + "<td>도로명주소</td>"
                        + "<td>지번주소</td>"
                        + "<td>우편번호</td>";

            for (var i = 0; i < AddressList.length; i++) {
                var idObj = "'trAddrInfo" + i + "'";
                strList += "<tr id='trAddrInfo"+ i +"'>"
                            + "<td><a href=javascript:selAddr("+ idObj +");>" + AddressList[i].LnmAdres + "</a></td>"
                            + "<td><a href=javascript:selAddr(" + idObj + ");>" + AddressList[i].RnAdres + "</a></td>"
                            + "<td>" + AddressList[i].ZipNo + "</td>"
                          + "</tr>";
            }

            strList += "</table>";

            $("#divPostDataList").html(strList);

            GetPageNavigate(CmmMsgHeader.TotalPage, CmmMsgHeader.TotalCount, CmmMsgHeader.CurrentPage);
        }
    }

    function GetPageNavigate(totPage, totCnt, curPage) {
        
        Ajax.SyncGetPartialView("/Order/Paging", { currentPage: curPage, PageSize: 20, totalCount: totCnt }, "divPager");
    }

    function selAddr(obj) {
        
        var aa = $("#" + obj);
        var lnmAddr = aa.children().eq(0).text();
        var rnAddr = aa.children().eq(1).text();
        var zipNo = aa.children().eq(2).text();

        $("#recvaddr", opener.document).val(lnmAddr);
        $("#recvaddr2", opener.document).val(rnAddr);
        $("#recvpostnum", opener.document).val(zipNo);

        self.close();
    }


</script>   
 }
<h2>우편번호찾기</h2>
<div>
    <input type="text" id="txtKeyword" />
    <input type="button" value="검색" id="btnPostInfoSearch" />
    <br /><br />
    <div id="divPostDataList"></div>
    <div id="divPager"></div>
</div>