@{
    ViewBag.title = "우편번호검색";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        <input type="text" id="txtKeyword" />
        <input type="button" value="검색" id="btnSearch" />
    </div>
</body>
    <script type="text/javascript">

        $("#btnSearch").on("click", function () {
            var url = "GetPostNo";

            var data = {
                keyword: $("#txtKeyword").val()
            }

            var onSuccess = function (result) {
                if (result.Success) {
                    var modeling = JSON.parse(result.Result);

                    alert(modeling);
                }
            }
            Ajax.AjaxResponseModelService(this, "GetPostNo", data, onSuccess);

        })

    </script>
</html>
