@{
    ViewBag.Title = "Index";
}
@ViewBag.UserNo
<script>
	function GetLikedProductsByMemberNo(val) {

		var targetUrl = "/product/GetLikedProductsByMemberNo";
		Ajax.SyncGetPartialView(targetUrl, { memberNo: val },"test");
	};

	// 받은 쪽지 PartialView
	function GetReceivedNoteListByMemberNo(val) {

		var targetUrl = "/product/GetReceivedNoteListByMemberNo";
		Ajax.SyncGetPartialView(targetUrl, { memberNo: val }, "receivedNote");
	};

	// 보낸 쪽지 PartialView
	function GetSentNoteListByMemberNo(val) {

		var targetUrl = "/product/GetSentNoteListByMemberNo";
		Ajax.SyncGetPartialView(targetUrl, { memberNo: val }, "sentNote");
	};

	function SendNote() {


		var fromMember = document.getElementById("sender").value;
		var targetMember = document.getElementById("receiver").value;
		var comment = document.getElementById("comment").value;

		data = {
			fromMember: fromMember,
			targetMember: targetMember,
			comment: comment
		}
		var onSuccess = function (result) {
			if (result.Success == true) {
				location.replace("/product");
			}
		}
		Ajax.AjaxResponseModelService(this, "/product/SendNote", data, onSuccess);


	};
	

		function DeleteNote(SeqNo) {

			data = {
				SeqNo: SeqNo
			}
			var onSuccess = function (result) {
				if (result.Success == true) {
					alert("삭제 성공");
					location.replace("/product");
				}
			}
			Ajax.AjaxResponseModelService(this, "/product/DeleteNote", data, onSuccess);


		};



</script>



<h2> 내가 좋아요 체크한 리스트</h2>
<a href='javascript:GetLikedProductsByMemberNo("@ViewBag.UserNo")'>test button</a>
<div id="test"></div>


<h2>쪽지 보내기</h2>
보내는 회원 <input id="sender" type="text" value=""/><br />
받는 회원 <input id="receiver" type="text" value="" /><br />
Comment <input id="comment" type="text" value="" /><br />
<button id="sendNote" onclick="javascript:SendNote()">보내기</button><br />


<h2>받은 쪽지</h2><button id="receiveList" onclick='javascript:GetReceivedNoteListByMemberNo("@ViewBag.UserNo")'>조회</button><br />
<div id="receivedNote"></div>

<h2>보낸 쪽지</h2><button id="sentList" onclick='javascript: GetSentNoteListByMemberNo("@ViewBag.UserNo")'>조회</button><br />
<div id="sentNote"></div>
