@{
    ViewBag.Title = "ProductPricing";
}

<h2>제품 가격 (재료별) 계산</h2>
출력부피 계산시 출력방식에 근거하여 출력 부피 계산방식을 선택함 (슬리이싱 작업이 필요한지 안한지 판단) <br />
출력부피가 계산이 되면 재질테이블에 단가 정보를 활용하여 실제 가격을 선정 (base Price)  <br />
<br />

제품      STORE_PRODUCT                                     <br />
출력방식  SOTRE_PRINTING_TYPE -> PRINTINGTYPE               <br />
재질 가격 STORE_MATERIAL      -> PRICE                      <br />



