@charset "utf-8";
/* CSS Document */


/* button */
.btnWrap , .btnWrap *{font-weight:bold; background:url("/Content/images/admin/btn_pack.gif") no-repeat; display:inline-block; overflow:visible; position:relative; margin:0px; padding:0px; border:0px; font-size:12px; color:#333; text-decoration:none !important; vertical-align:top; white-space:nowrap}
.btnWrap{margin-right:4px}  
.btnWrap *{left:4px; cursor:pointer; _cursor:hand}  
.btnWrap *:hover , .btnWrap *:active , .btnWrap *:focus{color:#8e8e8e}  


/* small */
.btnWrap.small , .btnWrap.small *{height:19px; line-height:19px}
.btnWrap.small{background-position:left -106px} 
.btnWrap.small *{padding:0 6px 0 2px;background-position:right -106px;font-size:11px}  
.btnWrap.small

/* medium */
.btnWrap.medium , .btnWrap.medium *{height:24px; line-height:24px}  
.btnWrap.medium{background-position:left 0}
.btnWrap.medium *{padding:0 10px 0 6px;background-position:right top;font-size:12px} 

/* large */
.btnWrap.large , .btnWrap.large *{height:30px; line-height:30px}  
.btnWrap.large{background-position:left -30px}
.btnWrap.large *{padding:0 10px 0 6px; background-position:right -30px; font-size:16px} 


.btnWrap.icon *{padding-left:20px}  
.btnWrap.small.icon *{padding-left:16px}  
.btnWrap.icon span{width:20px;margin-right:-20px;padding:0 !important}  
.btnWrap.medium .check{background-position:4px -150px}  
.btnWrap.large .check{background-position:4px -146px}  
.btnWrap.xlarge .check{background-position:5px -144px}  
.btnWrap.small .check{background-position:3px -153px}  
.btnWrap.medium .add{background-position:-16px -150px}  
.btnWrap.large .add{background-position:-14px -146px}  
.btnWrap.xlarge .add{background-position:-14px -144px}  
.btnWrap.small .add{background-position:-18px -153px}  
.btnWrap.medium .delete{background-position:-34px -150px}  
.btnWrap.large .delete{background-position:-34px -146px}  
.btnWrap.xlarge .delete{background-position:-34px -144px}  
.btnWrap.small .delete{background-position:-37px -153px}  
.btnWrap.medium .calendar{background-position:-56px -150px}  
.btnWrap.large .calendar{background-position:-56px -146px}  
.btnWrap.xlarge .calendar{background-position:-56px -144px}  
.btnWrap.small .calendar{background-position:-59px -153px}  
.btnWrap.medium .refresh{background-position:-76px -150px}  
.btnWrap.large .refresh{background-position:-76px -146px}  
.btnWrap.xlarge .refresh{background-position:-76px -144px}  
.btnWrap.small .refresh{background-position:-79px -153px}  
.btnWrap.medium .download{background-position:-96px -151px}  
.btnWrap.large .download{background-position:-96px -147px}  
.btnWrap.xlarge .download{background-position:-96px -145px}  
.btnWrap.small .download{background-position:-99px -154px}  


.btn_center{width:100%; text-align:center; margin:10px 0; border:0px solid red;}
.btn_left{width:100%; text-align:left; margin:10px 0; border:0px solid red;}
.btn_right{width:100%; text-align:right; margin:10px 0; border:0px solid red;}

.btn_both{width:100%; text-align:center; margin:10px 0;}
.btn_both:after{display:block; clear:both; content:'';}
.btn_both .left_zone{width:49%; float:left;}
.btn_both .left_zone span{float:left; margin:0 10px 0 0px; display:inline-block;}
.btn_both .right_zone{width:49%; float:right;}
.btn_both .right_zone span{float:right; margin:0 0 0 10px; display:inline-block;}


/******* 개발자 추가 ********/
.btn_weight_normal {font-weight:normal}





/******* http://www.webdesignerwall.com/demo/css-buttons.html 펌********/

.ext_button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.ext_button {font-weight:bold;}
.ext_button:hover {
	text-decoration: none;
}
.ext_button:active {
	position: relative;
	top: 1px;
}

.ext_bigrounded {
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
}
.ext_medium {
	font-size: 12px;
	line-height:15px;
	padding: 4px 10px 2px 10px;
}
.ext_small {
	font-size: 11px;
	line-height:13px;
	padding: 2px 10px 3px 10px;
}

/* color styles 
---------------------------------------------- */

/* black */
.ext_black {
	color: #fff !important;
	border: solid 1px #333;
	background: #333;
	background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
	background: -moz-linear-gradient(top,  #666,  #000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
}
.ext_black:hover {
	background: #000;
	background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));
	background: -moz-linear-gradient(top,  #444,  #000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000');
}
.ext_black:active {
	color: #666;
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#444));
	background: -moz-linear-gradient(top,  #000,  #444);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#666666');
}

/* gray */
.ext_gray {
	color: #fff !important;
	border: solid 1px #555;
	background: #6e6e6e;
	background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
	background: -moz-linear-gradient(top,  #888,  #575757);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
}
.ext_gray:hover {
	background: #616161;
	background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
	background: -moz-linear-gradient(top,  #757575,  #4b4b4b);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
}


/* white */
.ext_white {
	color: #606060!important;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.ext_white:hover {
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}


/* orange */
.ext_orange {
	color: #fff !important;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.ext_orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}


/* red */
.ext_red {
	color: #fff !important;
	border: solid 1px #980c10;
	background: #d81b21;
	background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
	background: -moz-linear-gradient(top,  #ed1c24,  #aa1317);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');
}
.ext_red:hover {
	background: #b61318;
	background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
	background: -moz-linear-gradient(top,  #c9151b,  #a11115);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115');
}

/* blue */
.ext_blue {
	color: #fff !important;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.ext_blue:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}


/* rosy */
.ext_rosy {
	color: #fff !important;
	border: solid 1px #b73948;
	background: #da5867;
	background: -webkit-gradient(linear, left top, left bottom, from(#f16c7c), to(#bf404f));
	background: -moz-linear-gradient(top,  #f16c7c,  #bf404f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f16c7c', endColorstr='#bf404f');
}
.ext_rosy:hover {
	background: #ba4b58;
	background: -webkit-gradient(linear, left top, left bottom, from(#cf5d6a), to(#a53845));
	background: -moz-linear-gradient(top,  #cf5d6a,  #a53845);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf5d6a', endColorstr='#a53845');
}


/* green */
.ext_green {
	color: #fff !important;
	border: solid 1px #538312;
	background: #64991e;
	background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
	background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}

.ext_green:hover {
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
	background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}

/* pink */
.ext_pink {
	color: #fff !important;
	border: solid 1px #d2729e;
	background: #f895c2;
	background: -webkit-gradient(linear, left top, left bottom, from(#feb1d3), to(#f171ab));
	background: -moz-linear-gradient(top,  #feb1d3,  #f171ab);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#feb1d3', endColorstr='#f171ab');
}
.ext_pink:hover {
	background: #d57ea5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f4aacb), to(#e86ca4));
	background: -moz-linear-gradient(top,  #f4aacb,  #e86ca4);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4aacb', endColorstr='#e86ca4');
}
