@model PagerQuery<PagerInfo, IList<BusFaqT>>
@{
    ViewBag.Title = "자주묻는질문과답변";
}

<div class="subPage">
    @Html.Action("SubHeader","Bus")
    <div class="subCont pdB140">
        <ul class="nostyle faq">
            @foreach (var data in Model.EntityList)
            {
                <li class="q_low"><a href="javascript:void(0);">@data.TITLE</a></li>
                <div class="list_cont" style="display:none;">@data.CONTENTS</div>
            
            }
            
        </ul>
        @*<!-- 페이징 -->
        <div class="paging">
        <a href="#" class="first_page">처음 페이지</a>
        <a href="#" class="prev_page">이전 페이지</a>
        <span>    
        <!--[D]현재 페이지는 클래스 on 추가-->    	
            <a href="#" class="paging_no on">1</a>
            <a href="#" class="paging_no">2</a>
            <a href="#" class="paging_no">3</a>
            <a href="#" class="paging_no">4</a>          
        </span>
        <a href="#" class="next_page">다음 페이지</a>
        <a href="#" class="last_page">마지막 페이지</a>
        </div>
            <!-- //페이징 -->*@
        <!-- 페이징 -->
        <div class="paging">
            @Html.BlogPageNavigate(Model.Pager.CurrentPageIndex, Model.Pager.PageSize, Model.Pager.RecordCount)
        </div>
        <!-- //페이징 -->
    </div>
</div>
@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {

            $(".q_low").on("click", function () {
                $(this).next().slideToggle();
                $(".list_cont").not($(this).next()).slideUp();
            });

        });
    </script>
}