@{
    ViewBag.Title = "문의";
}
@section scripts{
<script type="text/javascript">

    $("#bigButton").on("click", function () {

        var category = $("#hidCategory").val();
        var email = $("#txtEmail").val();
        var title = $("#txtTitle").val();
        var contents = $("#txtContents").val();

        if (category == "") {
            alert("카테고리를 선택해주세요");
            return false;
        }
        if (email == "") {
            alert("이메일을 입력하세요");
            return false;
        }
        if (title == "") {
            alert("제목을 입력하세요");
            return false;
        }
        if (contents == "") {
            alert("내용을 입력하세요");
            return false;
        }

        if (!emailcheck(email)) {
            alert("이메일 형식을 맞춰주세요");
            return false;
        }

        var url = "AddMakerBusQna";

        category = Number(category);

        $("#qnaForm").attr('action', url);
        $("#qnaForm").submit();
    })

    function SelCategory(obj, cateIndex, val) {

        var selCategory = $("a[name='selCategory']");

        selCategory.each(function (index) {
            if (cateIndex == index) {
                $(this).addClass("on");
            }
            else {
                $(this).removeClass("on");
            }
        })
                
        $("#hidCategory").val(val);
    }

    function emailcheck(strValue)
    {
        var regExp = /[0-9a-zA-Z][_0-9a-zA-Z-]*@@[_0-9a-zA-Z-]+(\.[_0-9a-zA-Z-]+){1,2}$/;
    //입력을 안했으면
    if(strValue.lenght == 0)
    {return false;}
    //이메일 형식에 맞지않으면
    if (!strValue.match(regExp))
    {return false;}
    return true;
}


</script>
}

<form id="qnaForm" name="qnaForm" method="post" enctype="multipart/form-data">
<div class="subPage">
    @Html.Action("SubHeader","Bus")
    <div class="subCont">
        <ul class="nostyle">
            <li>
                <div class="headerInput">분류</div>
                <div class="inputRadio name">
                    <a href="javascript:void(0);" class="radioBtn" onclick="SelCategory(this, 0, 2006)" name="selCategory" title="선택버튼"></a><span>워크샵 관련</span>
                    <a href="javascript:void(0);" class="radioBtn" onclick="SelCategory(this, 1, 2004)" name="selCategory" title="선택버튼"></a><span>미디어 관련</span>
                    <a href="javascript:void(0);" class="radioBtn" onclick="SelCategory(this, 2, 2002)" name="selCategory" title="선택버튼"></a><span>채용관련</span>
                    <a href="javascript:void(0);" class="radioBtn" onclick="SelCategory(this, 3, 2001)" name="selCategory" title="선택버튼"></a><span>불편/개선사항</span>
                    @*<a href="javascript:void(0);" class="radioBtn" onclick="SelCategory(this, 2, 2003)" name="selCategory" title="선택버튼"></a><span>제휴 및 협력 관련</span>*@                   
                    <a href="javascript:void(0);" class="radioBtn" onclick="SelCategory(this, 4, 2005)" name="selCategory" title="선택버튼"></a><span>기타</span>
                </div>
            </li>
            <li>
                <div class="headerInput">이메일</div>
                <div class="inputZone w750"><input name="email" id="txtEmail" type="text"></div>
                </li>
                <li>
                <div class="headerInput">제목</div>
                <div class="inputZone name w750"><input name="title" id="txtTitle" type="text"></div>
                </li>
                <li>
                <div class="headerInput valign">내용</div>
                <textarea name="contents" id="txtContents"></textarea>
                </li>
            
        </ul>
    <a class="bigButton" id="bigButton">보내기</a>  
    </div>
    <input type="hidden" id="hidCategory" name="category" />
</div> 	
</form>